@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var message = ViewBag.Message as string;
    Layout = "Lib";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/login.js"></script>



@if (!string.IsNullOrEmpty(@ViewBag.Id) && (string)@ViewBag.Message == "ADMIN")
{
    <div class="mt-3">

        <div class="card col-md-4 offset-4">
            <div class="card-header">
                <h4>Enter Admin</h4>
                <h4></h4>
            </div>

            <div class="card-body">
                <div>
                    <label for="name" class="form-label">Enter Name</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div>
                    <label for="email" class="form-label">Enter Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div>
                    <label for="mobile" class="form-label">Enter Phone</label>
                    <input type="text" class="form-control" id="mobile">
                </div>

                <div>
                    <label for="about" class="form-label">Enter Yourself</label>
                    <input type="text" class="form-control" id="about">
                </div>

                <div>
                    <label for="password" class="form-label">Enter Password</label>
                    <input type="password" class="form-control" id="password">
                </div>

                <div id="designation" class="mt-1">


                </div>



                <div class="mt-4">
                    <button class="btn btn-outline-success" type="submit" id="submitAdmin">Submit</button>
                </div>

            </div>

        </div>
    </div>
}else{
      <script>
 $(document).ready(function () {
        
            window.location.href = '@Url.Action("LogIn", "LogIn")'; // Redirect to login page
        
    });
    </script>
}
